/* font-family: 'Roboto Slab',
serif;

font-family: 'Muli',
sans-serif; */
body {

    background-image: url('../img/pizza-2244559.svg')
}

.order {
    width: 50%;
    margin: 50px auto;
    background-color: rgba(245, 245, 245, 0.838);
    border: 1px solid black;
    box-shadow: 5px 10px 10px black;
    display: none;
}